.jc-section {
    padding: 100px 0px;
	margin-bottom: 20px;
}


.jc-content {
	padding: 10px 25px;
	text-align: justify;
	background-color: #FCFCFC;
	border-width: medium 1px 1px;
	border-style: none solid solid;
	border-color: -moz-use-text-color #ECECEC #ECECEC;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: #000;
}
.jc-heading {
	padding: 6px 15px;
	font-size: 16px;
	/*
	background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);
    background-repeat: repeat-x;
	*/
}

/******* jc-bg ***********/
.jc-bg-lime {
	background: #C1FD33;
}
.jc-bg-peach {
	background: #FFE7BD;
}
.jc-bg-salmon {
	background: #F69E94;
}
.jc-bg-babyblue {
	background: #B8D0E8;
}
.jc-bg-lemon {
	background: #FEE233;
}
.jc-bg-teal {
	background: #2B8A6D;
}
.jc-bg-pink {
	background: #FC5AB8;
}
.jc-bg-bluegreen {
	background: #148AA5;
}
.jc-bg-lightred {
	background: #FC6A6C;
}
.jc-bg-cyan {
	background: #87CDD9;
}

/******* gradient ************/
.jc-gradient {
	background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);
    background-repeat: repeat-x;
}
/******* jc-col ***************/
.jc-col {
    width: auto;
    background: #fff;
    padding: 0px;
}

/* floating */
.jc-rt {
    float: right;
}
.jc-lt {
    float: left;
}
.jc-cnt {
    margin: 0 auto;
}


/************ fonts | text *************/
.jc-font-xs {
    font-size: 12px;
}
.jc-font-sm {
    font-size: 14px;
}
.jc-font-md {
	font-size: 18px;
}
.jc-font-lg {
	font-size: 24px;
}
.jc-font-xl {
	font-size: 36px;
}
.jc-font-xxl {
	font-size: 64px;
}
.jc-font-bold {
	font-weight: 700;
}
.jc-txt-lt {
    text-align: left;
}
.jc-txt-rt {
    text-align: right;
}
.jc-txt-cnt {
    text-align: center;
}

/************ margin ********************/
/* mrg-xxl */
.jc-mrg-xxl-hr {
    margin: 0px 100px;
}
.jc-mrg-xxl-vr {
    margin: 100px 0px;
}
.jc-mrg-xxl {
    margin: 100px;
}
.jc-mrg-xxl-lt {
  margin-left: 100px;
}
.jc-mrg-xxl-rt {
    margin-right: 100px;
}
.jc-mrg-xxl-tp {
    margin-top: 100px;
}
.jc-mrg-xxl-btm {
    margin-bottom: 100px;
}

/* mrg-xl */
.jc-mrg-xl-hr {
    margin: 0px 80px;
}
.jc-mrg-xl-vr {
    margin: 80px 0px;
}
.jc-mrg-xl {
    margin: 80px;
}
.jc-mrg-xl-lt {
  margin-left: 80px;
}
.jc-mrg-xl-rt {
    margin-right: 80px;
}
.jc-mrg-xl-tp {
    margin-top: 80px;
}
.jc-mrg-xl-btm {
    margin-bottom: 80px;
}

/* mrg-lg */
.jc-mrg-lg-hr {
    margin: 0px 60px;
}
.jc-mrg-lg-vr {
    margin: 60px 0px;
}
.jc-mrg-lg {
    margin: 60px;
}
.jc-mrg-lg-lt {
  margin-left: 60px;
}
.jc-mrg-lg-rt {
    margin-right: 60px;
}
.jc-mrg-lg-tp {
    margin-top: 60px;
}
.jc-mrg-lg-btm {
    margin-bottom: 60px;
}

/* mrg-md */
.jc-mrg-md-hr {
    margin: 0px 40px;
}
.jc-mrg-md-vr {
    margin: 40px 0px;
}
.jc-mrg-md {
    margin: 40px;
}
.jc-mrg-md-lt {
  margin-left: 40px;
}
.jc-mrg-md-rt {
    margin-right: 40px;
}
.jc-mrg-md-tp {
    margin-top: 40px;
}
.jc-mrg-md-btm {
    margin-bottom: 40px;
}

/* mrg-sm */
.jc-mrg-sm {
    margin: 20px;
}
.jc-mrg-sm-vr {
    margin: 20px 0px;
}
.jc-mrg-sm-hr {
    margin: 0px 20px;
}
.jc-mrg-sm-lt {
    margin-left: 20px;
}
.jc-mrg-sm-rt {
    margin-right: 20px;
}
.jc-mrg-sm-tp {
    margin-top: 20px;
}
.jc-mrg-sm-btm {
    margin-bottom: 20px;
}
/* mrg-xs */
.jc-mrg-xs {
    margin: 10px;
}
.jc-mrg-xs-vr {
    margin: 10px 0px;
}
.jc-mrg-xs-hr {
    margin: 0px 10px;
}
.jc-mrg-xs-lt {
    margin-left: 10px;
}
.jc-mrg-xs-rt {
    margin-right: 10px;
}
.jc-mrg-xs-tp {
    margin-top: 10px;
}
.jc-mrg-xs-btm {
    margin-bottom: 10px;
}
/************ pd *******************/
/* pd-xxl */
.jc-pd-xxl-hr {
    padding: 0px 100px;
}
.jc-pd-xxl-vr {
    padding: 100px 0px;
}
.jc-pd-xxl {
    padding: 100px;
}
.jc-pd-xxl-tp {
    padding-top: 100px;
}
.jc-pd-xxl-rt {
    padding-right: 100px;
}
.jc-pd-xxl-btm {
    padding-bottom: 100px;
}
.jc-pd-xxl-lt {
    padding-left: 100px;
}

/* pd-xl */
.jc-pd-xl-hr {
    padding: 0px 80px;
}
.jc-pd-xl-vr {
    padding: 80px 0px;
}
.jc-pd-xl {
    padding: 80px;
}
.jc-pd-xl-tp {
    padding-top: 80px;
}
.jc-pd-xl-rt {
    padding-right: 80px;
}
.jc-pd-xl-btm {
    padding-bottom: 80px;
}
.jc-pd-xl-lt {
    padding-left: 80px;
}

/* pd-lg */
.jc-pd-lg-hr {
    padding: 0px 60px;
}
.jc-pd-lg-vr {
    padding: 60px 0px;
}
.jc-pd-lg {
    padding: 60px;
}
.jc-pd-lg-tp {
    padding-top: 60px;
}
.jc-pd-lg-rt {
    padding-right: 60px;
}
.jc-pd-lg-btm {
    padding-bottom: 60px;
}
.jc-pd-lg-lt {
    padding-left: 60px;
}

/* pd-md */
.jc-pd-md-hr {
    padding: 0px 40px;
}
.jc-pd-md-vr {
    padding: 40px 0px;
}
.jc-pd-md {
    padding: 40px;
}
.jc-pd-md-tp {
    padding-top: 40px;
}
.jc-pd-md-rt {
    padding-right: 40px;
}
.jc-pd-md-btm {
    padding-bottom: 40px;
}
.jc-pd-md-lt {
    padding-left: 40px;
}

/* pd-sm */
.jc-pd-sm {
    padding: 20px;
}
.jc-pd-sm-hr {
    padding: 0px 20px;
}
.jc-pd-sm-vr {
    padding: 20px 0px;
}
.jc-pd-sm-tp {
    padding-top: 20px;
}
.jc-pd-sm-rt {
    padding-right: 20px;
}
.jc-pd-sm-btm {
    padding-bottom: 20px;
}
.jc-pd-sm-lt {
    padding-left: 20px;
}

/* pd-xs */
.jc-pd-xs {
    padding: 10px;
}
.jc-pd-xs-hr {
    padding: 0px 10px;
}
.jc-pd-xs-vr {
    padding: 10px 0px;
}
.jc-pd-xs-tp {
    padding-top: 10px;
}
.jc-pd-xs-rt {
    padding-right: 10px;
}
.jc-pd-xs-btm {
    padding-bottom: 10px;
}
.jc-pd-xs-lt {
    padding-left: 10px;
}


/********* shadow *********/
.jc-shd-2 {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}


/******* No ********/
.jc-no-pd {
    padding: 0px !important;
}
.jc-no-pd-vr {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.jc-no-pd-hr {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.jc-no-pd-lt {
	padding-left: 0px !important;
}
.jc-no-pd-rt {
	padding-right: 0px !important;
}
.jc-no-pd-tp {
	padding-top: 0px !important;
}
.jc-no-pd-btm {
	padding-bottom: 0px !important;
} 


.jc-no-mrg {
    margin: 0px !important;
}
.jc-no-mrg-vr {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.jc-no-mrg-hr {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.jc-no-mrg-lt {
	margin-left: 0px !important;
}
.jc-no-mrg-rt {
	margin-right: 0px !important;
}
.jc-no-mrg-tp {
	margin-top: 0px !important;
}
.jc-no-mrg-btm {
	margin-bottom: 0px !important;
} 

.jc-no-bg {
	background: transparent !important;
}
.jc-no-border {
	border: 0px !important;
}
/******** Z-index ***********/
.jc-z-1 {
	z-index: 1;
}
.jc-z-10 {
	z-index: 10;
}
.jc-z-20 {
	z-index: 20;
}
.jc-z-30 {
	z-index: 30;
}
.jc-z-9999 {
	z-index: 9999;
}

/********* width ************/
.jc-width-fl {
	width: 100%;
}
.jc-width-sq {
	width: 75%;
}
.jc-width-hf {
	width: 50%;
}
.jc-width-qrt {
	width: 25%;
}

/********* height ************/
.jc-height-fl {
	height: 100%;
}
.jc-height-sq {
	height: 75%;
}
.jc-height-hf {
	height: 50%;
}
.jc-height-qrt {
	height: 25%;
}

/********** cursor ********/
.jc-cursor-pointer {
	cursor: pointer;
}